<div class="row">

    <form action="/admin/generate-fake-post" method="post">

        <div class="form-group">

            <h1>Create Post</h1>
            <input name="amount" type="number" class="form-control">
            <button type="submit" class="btn btn-primary">Create</button>

        </div>

    </form>

</div>


