<h1>Create Post</h1>

<form action="/admin/posts/create" method="post" enctype="multipart/form-data">  <!-- enctype="multipart/form-data" yazanda(cox vaxt formda file olursa) body-parse modulu handle ede bilmir requesti-->

    {{#each error}}
        <div class="alert alert-danger">
            {{message}}
        </div>
    {{/each}}

    <div class="form-group">
        <label for="title">Title</label>
        <input required name="title" type="text" class="form-control" id="title" placeholder="Enter Title">
    </div>

    <div class="form-group">
        <label for="title">File Upload</label>
        <input name="file" type="file" class="form-control" id="file">
    </div>

    <div class="form-group">

        <label for="status" >Status</label>
        <select name="status" id="status" class="form-control">

            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>

        </select>

    </div>

    <div class="form-check">
        <label for="allowComments" class="form-check-label">
        <input name="allowComments" type="checkbox" class="form-control" id="allowComments">
            Allow Comments
        </label>

    </div>

    <div class="form-group">
        <label for="body"> Body
            <textarea required name="body" cols="50" rows="10" type="text" class="form-control" id="body"></textarea>
        </label>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>


</form>