<h1>Your post was created. Congratulations!</h1>

<table class="table table-bordered">

    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>allowComments</th>
        <th></th>
    </tr>

    </thead>

    <tbody>
        <tr>
            <td>{{sentPost.id}}</td>
            <td>{{sentPost.title}}</td>
            <td>{{sentPost.status}}</td>
            <td>{{sentPost.allowComments}}</td>
    </tr>

    </tbody>



</table>