<h1>Edit Post</h1>

<form action="/admin/posts/edit/{{post.id}}?_method=PUT" method="post">  <!-- enctype="multipart/form-data" yazanda(cox vaxt formda file olursa) body-parse modulu handle ede bilmir requesti-->

    <div class="form-group">

        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" value="{{post.title}}">  <!-- post.title yazmaq lazim imis arasdir gor niye -->

    </div>


    <div class="form-group">

        <label for="status" >Status</label>
        <select name="status" id="status" class="form-control">

            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>

        </select>

    </div>

    <div class="form-check">
        <label for="allowComments" class="form-check-label">
            <input name="allowComments" type="checkbox" class="form-control" {{# if post.allowComments}} checked="checked" {{/if}} id="allowComments">
            Allow Comments
        </label>

    </div>

    <div class="form-group">
        <label for="body"> Body
            <textarea name="body" cols="50" rows="10" type="text" class="form-control" id="body">{{post.body}}</textarea>
        </label>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>


</form>